body {
    background-color: #202120;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

nav div {
    padding: 6px;
    margin:5px;
}

.nav-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav-img:hover {
    background-color: #515151;
    border-radius: 50%;
}

.logo-img {
    border-radius: 20px;
}

.google-blc {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: calc(100vh - 300px);
}

input {
    all: unset;
    color: white;
    padding-top: 3px;
    padding-left: 5px;
}

.search-bar:hover {
background-color: #303134;
border: 1px solid #202124;
}

button {
    all: unset;
    background-color: #303134;
    padding:8px 15px 8px 15px ;
    border-radius: 4px;
    border: 1px solid #202124;
}
button:hover {
    border: 1px solid #767677;
}

.google-offer:hover {
    text-decoration: underline;
}

footer div .links div {
    padding: 10px;
}